
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Aleo', serif;
}
body {
    background-color: #376480;
    font-family: 'Odibee Sans', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 35px;
    margin: 0px 35px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
h3 {
    padding-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    
}
button {
    color: #fff;
    /* background-color: #567046; */
    background: rgb(201,164,58);
    border: none;
    padding: 5px 35px;
    border-radius: 5px;
    margin-top: 2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
 
